.DS_Store
.hugo_build.lock

# Hugo build output
public/
resources/_gen/

# Local editor/cache files
*.log
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/obsidian-git/.git_credentials_input
